/** FONTS
----------------------------------- **/
@font-face {
  font-family: 'BigNoodleTitling';
  src: url("../assets/fonts/font.ttf") format("truetype"); }

/** NATIVE
----------------------------------- **/
body, html {
  margin: 0;
  padding: 0;
  background: #1D1D1D;
  color: #FFFFFF;
  font-family: 'BigNoodleTitling', sans-serif; }

body {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

img#logo {
  width: 50%;
  height: auto;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none; }
  
  svg {
  -moz-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
  width: auto;
  height: 10%;
  margin: 5% 1% 5% 1%;
  fill: #fff;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none; }
    svg:hover {
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
    fill: #1d1d1d;
    background-color: #fff }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  text-align: center;
  color: inherit;
  font-family: 'BigNoodleTitling', sans-serif; }
h3 {
  font-size: 30px; }

h4 {
  font-size: 150%;
  margin-top: 5%;
  cursor: default;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

a#link {
  -moz-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
  padding-top: 2.5px;
  margin-top: 1%;
  display: flex;
  justify-content: center;
  color: inherit; 
  font-size: 25px;
  text-decoration: none;
  background-color: #141414 }
  a#link:hover {
    cursor: pointer;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
    background-color: #fff;
    color: #1d1d1d; }

a#Contact {
  -moz-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
  padding-top: 2.5px;
  margin-top: 1%;
  display: flex;
  justify-content: center;
  color: inherit; 
  font-size: 25px;
  text-decoration: none;
  background-color: #fff;
  color: #1d1d1d; }
  a#Contact:hover {
    cursor: pointer;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
    background-color: #141414;
    color: #fff; }

  #si {
  display: flex;
  justify-content: center; }

section#page-title {
  margin: 1rem 0rem; }
  section#page-title h1 {
    font-size: 6vw; }
  section#page-title h2 {
    font-size: 4vw; }

  p {
    color: #141414;
    margin-top: 2rem;
    display: flex;
    justify-content: center; }

/** CONTACT PAGE
----------------------------------- **/

img#clogo {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 50%;
  height: auto;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

  h1#title {
    margin-top: 1rem;
    margin-bottom: 1rem; }

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
    background-color: #2d2d2d;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
    background-color: #141414;
}

/** MOBILE
----------------------------------- **/
@media screen and (max-width: 768px) {
  h3 {
  font-size: 20px; }
  svg {
  width: auto;
  height: 64px; }
  img#clogo {
    width: 75%;
    height: auto; }
  img#logo {
    width: 75%;
    height: auto; }
  section#page-title {
    margin: 1rem 0rem; }
    section#page-title h1 {
      font-size: 12vw; }
    section#page-title h2 {
      font-size: 6vw; } }
