/** NATIVE **/

body, html {
  margin: 0;
  padding: 0;
  background: #ffffff; }

img#background {
  position: fixed; }
img#backgroundm {
  display: none; }
img#website {
  position: absolute; }
img#websitem {
  display: none; }

/** MOBILE **/

@media screen and (max-width: 980px) {
  img#background {
    display: none; }
  img#backgroundm {
    position: fixed;
    display: block; } 
  img#website {
    display: none; } 
  img#websitem {
    position: absolute;
    display: block; } }